{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
        </head>
        <body>
          <h1>konsolodon</h1>
          <h2 style="color: blue;">Saya adalah wibu terbaik di ulbi</h2>
          <h2 style="color: red;">sangat eazy</h2>
          <iframe src="https://giphy.com/embed/L5f4Z5JoOKARG" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen="allowFullScreen"></iframe>
          <p>
            <a href="https://giphy.com/gifs/kawaii-anime-girl-L5f4Z5JoOKARG"></a>
          </p>
        </body>
      </html>
